doctype html
html
  head
    title="Recall- The Only Task App You'll Ever Need!"
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css")
    link(rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet", href="/stylesheets/aboutUs.css")
    link(rel="shortcut icon" type="image/x-icon" href="/stylesheets/favicon.ico")

  body(id='aboutUs-body')
      div(id='aboutUs-main-container')
        span(id='aboutUs-nav-bar')
          div(id='aboutUs-logo')
            img(src="/img/RECALL4.png", alt="logo" id='aboutUs-logo' class='home-page-image')
          a(href='/' id='aboutUs-anchor')
            div(id='aboutUs-landing-redirect') Return Home
        div(id='aboutUs-header')
          div(id='aboutUs-aboutUs') aboutUs.
          div(id='aboutUs-header-text-container') Four programmers with the dream of making a positive difference in the World...
            div(id='aboutUs-header-text')
        div(id='aboutUs-main-content')
          div(id='aboutUs-info-container')
            div(id='aboutUs-connor')
              div(id='ab1-header')
                div(id='connor-img')
                div(id='ab1-name') Connor Burns
              div(id='ab1-body')
                div(id='ab1-bio') I am an aspiring Software Developer. I am passionate about creating quality work that will enrich people’s lives. I was lucky enough to work alongside a group of talented software engineers to create our first ever project, Recall: Patrick McGinn, Christopher Hong and Walker Adkins.  I hope you enjoy what we’ve come up with!
                a(href="https://github.com/ConnorBurns1993" id='ab1-ghub') GitHub: @ConnorBurns1993
            div(id='aboutUs-chris')
              div(id='ab2-header')
                div(id='chris-img')
                div(id='ab2-name') Chris Hong
              div(id='ab2-body')
                div(id='ab2-bio') I am a man of many passions, currently on a journey to become a Software Engineer. My interest in coding began with the online era resulting from the pandemic, and since then has led me to join App Academy to further my knowledge and experience in full-stack web development. Recall is my first collaborative project, and has given me the opportunity to rise to the challenges of wireframing and programming an application from the ground up alongside my amazing partners: Connor, Patrick, and Walker. Shout out to my team, and a special thank you to the instructors that have gotten us this far. Cheers to Recall!
                a(href="https://github.com/ChrisPHong" id='ab2-ghub') GitHub: @ChrisPHong
            div(id='aboutUs-patrick')
              div(id='ab3-header')
                div(id='patrick-img')
                div(id='ab3-name') Patrick McGinn
              div(id='ab3-body')
                div(id='ab3-bio') Lover of all things outdoors! I have always had a drive to find better solutions to evolving problems. Technology brings us all together in ways we have never seen before. We as programmers have a special ability to impact the World and we should constantly strive to leave it better than found. This can be easily achieved by writing simple, clean and effective code.
                a(href="https://github.com/pm24mcgi" id='ab3-ghub') GitHub: @pm24mcgi
            div(id='aboutUs-walker')
              div(id='ab4-header')
                div(id='walker-img')
                div(id='ab4-name') Walker Adkins
              div(id='ab4-body')
                div(id='ab4-bio') I am learning to code because I love building things from scratch, dreaming about big projects and getting in way over my head.
                a(href="https://github.com/walkeradkins" id='ab4-ghub') GitHub: @walkeradkins
