extends layout.pug

include utils.pug
block content
  a(href='/')
    div(id='signupGrey')
  div(id='signupBlock')
    div(id='signupFields')
      +validationErrorSummary(errors)
      form(method='post' action='/signup')
        div(id='signupForm')
          input(type='hidden' name='_csrf' value=csrfToken)
          div(class='signup-div')
            +field('First Name', 'firstName', user.firstName)(class='field-text')
          div(class='signup-div')
            +field('Last Name', 'lastName', user.lastName)(class='field-text')
          div(class='signup-div')
            +field('Email', 'emailAddress', user.emailAddress, 'email')(class='field-text')
          div(class='signup-div')
            +field('Password', 'password', user.hashedPassword, 'password')(class='field-text')
          div(class='signup-div')
            +field('Confirm Password', 'confirmPassword', '', 'password')(class='field-text')
          div(class='signup-div-bottom')
            button(type='submit' class='button2-49') Sign Up!
      a(href='/login' class='login-nav') Already have an account?
    img(src="/img/RECALL4.png", alt="logo.gif" id='signupImg')
