#loginGrey {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, .8);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginBlock {
    background: linear-gradient(to top right, rgba(219, 11, 157, .3), rgba(212, 2, 2, .95));
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: fixed;
    top: 25%;
    left: 25%;
    bottom: 25%;
    right: 25%;

}

#loginFields {
    margin: 50px;
    text-align: center;
}

#loginForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#loginImg {
    width: 25%
}

.login-div {
    padding: 10px
}


#emailAddress,
#password,
#firstName,
#lastName,
#confirmPassword
 {
  padding: 10px 16px;
  font-size: 16px;
  color: black;
  background-color: #fff;
  border: 1px solid #597183;
  border-radius: 8px;
  margin-top: 5px;
        width: 100%;
        transition: all 0.3s ease;
      }

#emailAddress:focus,
#emailAddress:focus,
#password:focus,
#firstName:focus,
#lastName:focus,
#confirmPassword:focus {
        outline: none;
        box-shadow: 0 0 0 4px #f600a890;
        color:black;
      }

      .no-account-text {
        text-align: center;
      }

      .no-account-text:hover {
        color: black;
      }

      .login-div3 {
        padding:1em;
        text-align:center;
      }

      .login-submit {
        color: white;
        text-decoration: none;
        border: none;
      }

      .button-49,
      .button-49:after {
        width: 50px;
        height: 206px;
        /* line-height: 78px; */
        font-size: 20px;
        font-family: 'Bebas Neue', sans-serif;
        background: linear-gradient(45deg, transparent 5%, #90102e 5%);
        border: 0;
        color: #fff;
        letter-spacing: 3px;
        box-shadow: 6px 0px 0px #f600a890;
        outline: transparent;
        position: relative;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        border-radius: 5px
      }

      .button-49:after {
        --slice-0: inset(50% 50% 50% 50%);
        --slice-1: inset(80% -6px 0 0);
        --slice-2: inset(50% -6px 30% 0);
        --slice-3: inset(10% -6px 85% 0);
        --slice-4: inset(40% -6px 43% 0);
        --slice-5: inset(80% -6px 5% 0);

        content: 'RECALL';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #d20c3a 5%);
        text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
        clip-path: var(--slice-0);
      }

      .button-49:hover:after {
        animation: 1s glitch;
        animation-timing-function: steps(2, end);
      }

      @keyframes glitch {
        0% {
          clip-path: var(--slice-1);
          transform: translate(-20px, -10px);
        }
        10% {
          clip-path: var(--slice-3);
          transform: translate(10px, 10px);
        }
        20% {
          clip-path: var(--slice-1);
          transform: translate(-10px, 10px);
        }
        30% {
          clip-path: var(--slice-3);
          transform: translate(0px, 5px);
        }
        40% {
          clip-path: var(--slice-2);
          transform: translate(-5px, 0px);
        }
        50% {
          clip-path: var(--slice-3);
          transform: translate(5px, 0px);
        }
        60% {
          clip-path: var(--slice-4);
          transform: translate(5px, 10px);
        }
        70% {
          clip-path: var(--slice-2);
          transform: translate(-10px, 10px);
        }
        80% {
          clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 100px;
    height: 45px;
    /* line-height: 88px; */
    margin-bottom: 30px;
  }
}

#emailAddress.field-text2,
#password.field-text2 {
  font-size: 12px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  width: 350px;
  height: fit-content;
  display: flex;
  justify-content: start;
  position: relative;
}

.field-text2 {
  margin-right: 20px;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: start
    }
